/**********************************/


/********** Configs ***************/


/**********************************/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #333333;
}

a {
    text-decoration: none !important;
    outline: none !important;
    color: rgb(0, 0, 0);
}

@media (max-width:991px) {
    .mid {
        align-items: center;
    }
}


/**********************************/


/** Conjunto imagenes noticias ****/


/**********************************/

.news {
    position: relative;
    width: 100%;
    padding: 30px 0 0 0;
}

.news .col-md-6 {
    margin-bottom: 30px;
}

.news .img-news {
    position: relative;
    overflow: hidden;
}

.news .img-news img {
    width: 100%;
}

.news .img-news:hover img {
    filter: blur(5px);
    -webkit-filter: blur(5px);
}

.news .contenido-news {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 15px 10px 15px 20px;
    background-image: linear-gradient(rgba(0, 0, 0, .0), rgba(0, 0, 0, .3), rgba(0, 0, 0, .9));
    display: flex;
    align-items: flex-end;
}

.news .contenido-news a.fecha-news {
    display: block;
    width: 100%;
    margin-bottom: 5px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    transition: .3s;
    letter-spacing: 1px;
}

.news .contenido-news a.fecha-news i {
    margin-right: 5px;
}

.news .contenido-news a.fecha-news:hover {
    text-decoration: underline;
}

.news .contenido-news a.titulo-news {
    display: block;
    width: 100%;
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    transition: .3s;
}

.news .news-left.contenido-news a.titulo-news {
    font-size: 35px;
    font-weight: 700;
}

.news .contenido-news a.titulo-news:hover {
    color: #E47A2E;
}


/**********************************/


/********** Footer ****************/


/**********************************/

.site-footer {
    background-color: #26272b;
    padding: 45px 0 20px;
    font-size: 15px;
    line-height: 24px;
    color: #737373;
}

.site-footer hr {
    border-top-color: #bbb;
    opacity: 0.5
}

.site-footer hr.small {
    margin: 20px 0
}

.site-footer h6 {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 5px;
    letter-spacing: 2px
}

.site-footer a {
    color: #737373;
}

.site-footer a:hover {
    color: #3366cc;
    text-decoration: none;
}

.footer-links {
    padding-left: 0;
    list-style: none
}

.footer-links li {
    display: block
}

.footer-links a {
    color: #737373
}

.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
    color: #3366cc;
    text-decoration: none;
}

.footer-links.inline li {
    display: inline-block
}

@media (max-width:991px) {
    .site-footer [class^=col-] {
        margin-bottom: 30px
    }
}

@media (max-width:767px) {
    .site-footer {
        padding-bottom: 0
    }
    .site-footer .copyright-text {
        text-align: center;
    }
}

.borde {
    border-radius: .4rem;
}


/**********************************/


/********** Login ***************/


/**********************************/

.svg_login:hover {
    fill: black;
    cursor: pointer;
}

.modal-container {
    display: flex;
    background-color: rgba(0, 0, 0, 0.3);
    align-items: center;
    justify-content: center;
    position: fixed;
    pointer-events: none;
    opacity: 0;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    transition: opacity 0.3s ease;
}

.show {
    pointer-events: auto;
    opacity: 1;
}

.titulo {
    height: 90px;
    background: #212529;
    border-radius: 0;
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn_derecha {
    padding-left: 29rem;
    padding-top: 10px;
    background-color: #212529;
    border-radius: 0;
}

@media (max-width:510px) {
    .btn_derecha {
        padding-left: 25rem;
        padding-top: 10px;
        background-color: #212529;
        border-radius: 0;
    }
}

.wrapper form {
    padding: 30px 25px 25px 25px;
}

.wrapper form .row {
    height: 45px;
    margin-bottom: 15px;
    position: relative;
}

.wrapper form .row input {
    height: 100%;
    width: 100%;
    outline: none;
    padding-left: 60px;
    border-radius: 5px;
    border: 1px solid lightgrey;
    font-size: 16px;
    transition: all 0.3s ease;
}

form .row input:focus {
    border-color: #282928;
    box-shadow: inset 0px 0px 2px 2px rgba(26, 188, 156, 0.25);
}

form .row input::placeholder {
    color: #999;
}

.wrapper form .row i {
    position: absolute;
    width: 47px;
    height: 100%;
    color: #fff;
    font-size: 18px;
    background: #282928;
    border: 1px solid #282928;
    border-radius: 5px 0 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper form .pass {
    margin: -8px 0 20px 0;
}

.wrapper form .pass a {
    color: #282928;
    font-size: 17px;
    text-decoration: none;
}

.wrapper form .pass a:hover {
    text-decoration: underline;
}

.wrapper form .button input {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding-left: 0px;
    background: #212529;
    border: 1px solid #212529;
    cursor: pointer;
}

form .button input:hover {
    background: #131518;
}

.wrapper form .signup-link {
    text-align: center;
    margin-top: 20px;
    font-size: 17px;
}

.wrapper form .signup-link a {
    color: #282928;
    text-decoration: none;
}

form .signup-link a:hover {
    text-decoration: underline;
}


/**********************************/


/********** Contacto **************/


/**********************************/

.container_contacto {
    max-width: 700px;
    padding: 0 20px;
    margin: 100px auto;
}

#contact {
    background: #F9F9F9;
    padding: 25px;
}

fieldset {
    border: medium none !important;
    margin: 0 0 10px;
    min-width: 100%;
    padding: 0;
    width: 100%;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea {
    width: 100%;
    border: 1px solid #CCC;
    background: #FFF;
    margin: 0 0 5px;
    padding: 10px;
}


/* html */

p,
h1,
h2 {
    color: white;
}

.not {
    width: 50px;
    height: 40px;
}

.ucrania {
    width: 450px;
    height: 340px;
    margin-right: 30px;
}

.lineal {
    text-align: justify;
}

.putin {
    width: 100%
}